{{#partial "home-estilos"}}
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/heladeras.css">
    <link rel="stylesheet" href="/css/suscripciones.css">
{{/partial}}

{{#partial "home-main"}}
    <main class="admin-heladeras">
        <h1>Alertas vigentes:
        </h1>
        <div class="heladeras-mapa">
            <section class="heladeras-dashboard">
                <section class="heladeras-dashboard-scrollable">
                    <div class="title">
                        <div class="title-text">
                            <h2>Alertas</h2>
                        </div>
                        <hr>
                    </div>
                    {{#unless heladerasFaltan or heladerasQuedan or heladerasDesp}}
                        <h1 class="grey open">No tiene ninguna alerta</h1>
                    {{/unless}}
                    {{#if heladerasFaltan}}
                        <div class="heladeras-fallas-dashboard">
                            <div class="alertas-title">
                                <h2>Faltan N viandas</h2>
                            </div>
                            {{#each heladerasFaltan}}
                                <div class="heladera">
                                    <p>{{this.nombreHeladera}}</p>
                                    <hr>
                                    <p>{{this.descripcion}}</p>
                                </div>
                            {{/each}}
                        </div>
                    {{/if}}
                    {{#if heladerasQuedan}}
                        <div class="heladeras-fallas-dashboard">
                            <div class="alertas-title">
                                <h2>Quedan N viandas</h2>
                            </div>
                            {{#each heladerasQuedan}}
                                <div class="heladera">
                                    <p>{{nombreHeladera}}</p>
                                    <hr>
                                    <p>{{descripcion}}</p>
                                </div>
                            {{/each}}
                        </div>
                    {{/if}}
                    {{#if heladerasDesp}}
                        <div class="heladeras-fallas-dashboard">
                            <div class="alertas-title">
                                <h2>Desperfecto</h2>
                            </div>
                            {{#each heladerasDesp}}
                                <div class="heladera">
                                    <p>{{nombreHeladera}}</p>
                                    <hr>
                                    <p>{{descripcion}}</p>
                                </div>
                            {{/each}}
                        </div>
                    {{/if}}
                </section>
                <div class="btns">
                    <a href="javascript:history.back()" class="boton-dashboard">Volver</a>
                </div>
            </section>
            <section class="blurred-map">
                <a href="alertas/mapa">VER ALERTAS</a>
            </section>
        </div>
    </main>
{{/partial}}
{{#partial "home-scripts"}}
    <script src="/js/heladeras.js"></script>
    <script src="/js/dropdownScript.js"></script>
    <script src="/js/modalViandas.js"></script>
{{/partial}}

{{> templates/base/homeBase}}
