{{#partial "estilos-map"}}
    <link rel="stylesheet" href="../../css/registro.css">
    <link rel="stylesheet" href="../../css/viandas.css">
    <style>
        #map {
            width: 100vw;
            height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            gap: 0px;
        }

        .dashboard-arrow {
            z-index: 1000;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .heladeras-dashboard {
            z-index: 1000;
            max-height: 100%;
            display: none;
            max-width: 800px;
        }

        .arrow-opener {
            z-index: 1000;
            background-color: #e3e3e3;
            width: 25px;
            height: 90px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: none;
        }

        .modal-info-heladera-viandas {
            margin-left: 2rem;
            margin-right: 2rem;
        }



        @media (max-width: 1468px) {
            .title-mapa-btn {
                padding: 1rem 2rem;
                font-size: 1rem;
            }
        }

        @media (max-width: 960px) {
            .title-mapa {
                width: 80%;
                font-size: 1rem;
                padding: 20px;
            }

            .title-mapa-direccion {
                font-size: 1rem;
                padding: 20px;
            }

        }

        @media (max-width: 670px) {
            .title-mapa-heladera {
                width: 80%;
                font-size: 0.8rem;
                padding: 10px;
            }

            .title-mapa-direccion {
                font-size: 0.8rem;
                padding: 10px;
            }

            .title-mapa-btn {
                width: 70%;
                font-size: 0.8rem;
                padding: 10px;
            }
        }

        @media (max-width: 535px) {
            .title-mapa-heladera {
                width: 70%;
                font-size: 0.6rem;
                padding: 10px;
            }

            .title-mapa-btn {
                width: 60%;
                font-size: 0.6rem;
                padding: 10px;
            }
        }

        @media (max-width: 488px) {
            #map {
                flex-direction: column;
                align-items: start;
                gap: 3rem;
            }

            .dashboard-arrow {
                flex-direction: row;
                align-items: center;
                height: 50% !important;
            }

            .heladeras-dashboard-scrollable {
                height: 200px !important;
            }

            .modal-info-heladera-viandas {
                width: 90%;
                margin-left: 0px;
                margin-right: 0px;
            }

            .title-mapa-heladera {
                width: 80%;
                font-size: 1rem;
                padding: 10px;
            }

            .title-mapa-direccion {
                font-size: 1rem;
                padding: 10px;
            }

            .title-mapa-btn {
                width: 70%;
                font-size: 1rem;
                padding: 10px;
            }
        }

        @media (max-height: 718px) {
            .dashboard-arrow {
                flex-direction: row;
                align-items: center;
                height: 100vh;
            }

            .heladeras-dashboard {
                padding-top: 1rem;
                padding-bottom: 0.5rem;
            }

        }

        .open {
            display: flex;
        }

        .leaflet-left {
            display: none;
        }
    </style>
{{/partial}}
{{#partial "main-map"}}
    <div>
        <div id="map">
            <div class="dashboard-arrow">
                <section class="heladeras-dashboard open">
                    <section class="heladeras-dashboard-scrollable">
                        <div class="title">
                            <div class="title-text">
                                <h2 class="dist1">ELEGIR HELADERA ORIGEN</h2>
                                <h2 class="dist2">ELEGIR HELADERA DESTINO</h2>
                                <h2 class="dist1">1/2</h2>
                                <h2 class="dist2">2/2</h2>
                            </div>
                            <hr>
                        </div>
                        <div class="heladeras-fallas-dashboard">
                            <h2>Heladeras con fallas</h2>
                            {{#each heladerasFallas}}
                                <div class="heladera">
                                    <p>{{this.nombre}}</p>
                                    <hr>
                                    <p>{{this.cantidadViandas}} viandas</p>
                                </div>
                            {{/each}}
                        </div>
                        <div class="heladeras-sin-fallas-dashboard">
                            <h2>Total de heladeras</h2>
                            {{#each heladeras}}
                                <div class="heladera" id="heladeras-en-dashboard">
                                    <p>{{this.nombre}}</p>
                                    <hr>
                                    <p>{{this.cantidadViandas}} viandas</p>
                                    <p class="hidden">{{this.latitud}}</p>
                                    <p class="hidden">{{this.longitud}}</p>
                                    <p class="hidden">{{this.direccion}}</p>
                                    <p class="hidden">{{this.id}}</p>
                                </div>
                            {{/each}}
                        </div>
                    </section>
                    <div class="btns">
                        <a class="boton-dashboard volver-btn dist2">Volver</a>
                        <a href="javascript:history.back()" class="boton-dashboard volver-btn dist1">Volver</a>
                        <a class="boton-dashboard sig-btn dist1">Siguiente</a>
                        <a class="boton-dashboard dist2 open-form-dist">Confirmar</a>
                    </div>
                </section>
                <button class="arrow-opener">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
            </div>
            <div class="modal-info-heladera-viandas">
                <h1 class="title-mapa-heladera">Heladera A</h1>
                <div class="title-mapa-direccion">
                    <p>Medrano 951</p>
                </div>
                <a class="title-mapa-btn confirmar-btn dist1 completar-dist">
                    <p>Confirmar</p>
                </a>
                <a class="title-mapa-btn confirmar-btn dist2 open-form-dist">
                    <p>Confirmar</p>
                </a>
            </div>
        </div>
        <main class="registro2-main hidden">
            <div class="registro2-title distribuir-viandas-3">
                <h1>Complete los datos correspondientes</h1>
            </div>
            <form class="form-registro2 donar-dinero distribuir-viandas-3" id="form-dist-viandas" method="POST">
                <div class="form-element2 donar-dinero-element">
                    <label for="form-nombre">Heladera origen seleccionada</label>
                    <div class="info-viandas-3">
                        <input type="text" name="heladera-or" id="heladera-origen" required class="hidden">
                        <p></p>
                        <hr>
                        <p>5 viandas</p>
                    </div>
                </div>
                <div class="form-element2 donar-dinero-element">
                    <label for="form-nombre">Heladera destino seleccionada</label>
                    <div class="info-viandas-3">
                        <input type="text" name="heladera-dest" id="heladera-destino" required class="hidden">
                        <p></p>
                        <hr>
                        <p>5 viandas</p>
                    </div>
                </div>
                <div class="form-element2 donar-dinero-element">
                    <label for="form-nombre">Motivo</label>
                    <select name="motivo" id="motivo" class="hidden">
                        <option value="falla"></option>
                        <option value="falta-de-viandas"></option>
                    </select>
                    <div class="form-element-dropdown">
                        <div class="dropdown-select-btn">
                            <p>Seleccionar</p>
                            <span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </span>
                        </div>
                        <ul class="dropdown-item-list">
                            <li class="dropdown-item-only">
                                <span>
                                    <i class="fa-solid fa-check check-icon"></i>
                                </span>
                                <p>Falla</p>
                            </li>
                            <li class="dropdown-item-only">
                                <span>
                                    <i class="fa-solid fa-check check-icon"></i>
                                </span>
                                <p>Falta de viandas</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-element2 donar-dinero-element">
                    <label for="form-nombre">¿Cuántas viandas quiere donar?</label>
                    <input type="number" name="cantidad-viandas" id="form-apellido" required>
                </div>
            </form>
            <div class="modal-solicitudes-apertura hidden">
                <div class="modal-solicitudes-apertura-header">
                    <h1 class="timer"></h1>
                </div>
                <div class="heladeras-solicitadas">
                    <div class="heladeras-solicitadas-text">
                        <p class="timer-text"></p>
                        <p class="timer-text"></p>
                    </div>
                    <a class="btn-next2 btn-aceptar-modal" >
                        <p>Finalizar</p>
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="btns-next distribuir-viandas-3">
                <a class="btn-next2" id="atras-heladeras-distribucion">
                    <p>Atrás</p>
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn-next2 btn-opener-solicitudes-apertura">
                    <p>Finalizar</p>
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </main>
    </div>
{{/partial}}
{{#partial "scripts-map"}}
    <script src="../../js/timer.js"></script>
    <script>
        function completarHeladerasInput(strTipo, heladera, viandas) {
            const heladeras = document.querySelectorAll('.info-viandas-3');
            const modal = document.querySelector('.heladeras-solicitadas-text');
            switch (strTipo) {
                case "origen":
                    heladeras[0].querySelector('input').value = heladera.id;
                    heladeras[0].querySelector('p').textContent = heladera.nombre;
                    heladeras[0].children[3].textContent = viandas;
                    modal.children[0].textContent = heladera.nombre
                    break;
                case "destino":
                    heladeras[1].querySelector('input').value = heladera.id;
                    heladeras[1].querySelector('p').textContent = heladera.nombre;
                    heladeras[1].children[3].textContent = viandas;
                    modal.children[1].textContent = heladera.nombre
                    break;
            }
        }

        document.querySelectorAll('.open-form-dist').forEach(btn => {
            btn.addEventListener('click', () => {
                completarHeladerasInput("destino", heladeraSelected(), viandasSelected())
                document.querySelector('#map').classList.toggle('hidden')
                document.querySelector('.registro2-main').classList.toggle('hidden')
            });
        });

        document.querySelector('.btn-aceptar-modal').addEventListener('click', () => {
            document.querySelector('#motivo').value = motivoSegun(document.querySelector('.checked').children[1].innerHTML)
            document.querySelector('#form-dist-viandas').submit();
        });

        function motivoSegun(str) {
            if (str === "Falla") {
                return "falla";
            } else if (str === "Falta de viandas") {
                return "falta-de-viandas";
            }
        }

    </script>
{{/partial}}
{{>templates/base/mapaBase}}